<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--联动摄像机连接参数-->
    <add key="Ip" value="192.168.9.155"/>
    <add key="Port" value="8000"/>
    <add key="UserName" value="admin"/>
    <add key="Password" value="admin12345"/>
    <add key="Channel" value="1"/>
    <add key="CameraType" value="DVR"/>
    <add key="RuleType" value="Enter_Region"/>
    <!--固定海康摄像机连接参数-->
    <!--<add key="Ip" value="192.168.9.97"/>
    <add key="Port" value="8000"/>
    <add key="UserName" value="admin"/>
    <add key="Password" value="12345"/>
    <add key="Channel" value="1"/>
    <add key="CameraType" value="UnControl"/>-->
    
    <!--抓拍图像默认存储路径-->
    <add key="SavePath" value="d:\snapshot"/>
    
    <!--摄像机位置及视场角参数，仅联动摄像机生效-->
    <add key="Longitude" value="121.462722"/>
    <add key="Latitude" value="31.182333"/>
    <!--摄像机高度 米-->
    <add key="Altitude" value="40.00"/>
    <!--摄像机水平视场角°-->
    <add key="FOV" value="58"/>    
    <!--RITS-->
    <add key="EventActiveMQUri" value="tcp://198.29.200.143:61616"/>
    <add key="EventActiveMQTopic" value="RITSV2.Event"/>
    <!--联动相机配置（区域抓拍）-->
    <!--<add key="RuleType" value="Enter_Region"/>-->
    <!--固定相机配置（过线抓拍）-->
    <add key="RuleType" value="Cross_Region"/>

    <!--DataBus,联动相机配置有效-->
    <!--<add key="DataBusEndpoint" value="tcp://198.29.200.143:62626"/>-->
    <add key="DataBusEndpoint" value="tcp://192.168.9.222:62626"/>
    <add key="DataBusTopic" value="Transas_ScUnion"/>

    <!--以下参数为联动摄像机抓拍参数-->
    <!--最大抓拍距离（米）-->
    <add key="DistanceMax" value="3000"/>
    <!--最小抓拍距离（米）-->
    <add key="DistanceMin" value="1"/>
    <!--默认船长（米）-->
    <add key="DefaultLength" value="30"/>
    <!--默认抓拍超时时间（秒）-->
    <add key="TimeoutSeconds" value="20"/>
  </appSettings>
</configuration>
